/* 예시: ReactQuill에서 보더 값 없애기 및 다크모드 테마 적용 */

/* 에디터의 보더 없애기 */
.ql-container {
	border: none; /* 기본 보더 제거 */
	font-family: inherit;
	font-size: 16px;
}
.ql-toolbar.ql-snow {
	border: none; /* 툴바 보더 제거 */
}
.ql-container.ql-snow {
	border: none;
}

/* 다크모드 배경색 적용 */
.ql-container.ql-snow {
	background-color: #17222d; /* 다크모드 배경 색 */
	color: #fff; /* 글자 색상 */
}

.ql-editor {
	background-color: #17222d; /* 글쓰기 영역 배경 */
	color: #fff; /* 글자 색상 */
	padding: 0;
}

/* placeholder 텍스트 스타일 */
.ql-editor.ql-blank::before {
	color: #688db2; /* Placeholder 텍스트 색상 */
	left: 1px;
}

/* 툴바 버튼 스타일 */
.ql-toolbar {
	display: none;
	background-color: #17222d; /* 툴바 배경 */
	color: #688db2; /* 툴바 아이콘 색상 */
}

/* 툴바 아이콘 색상 조정 */
.ql-toolbar .ql-formats {
	color: #688db2;
}

.ql-toolbar button:hover {
	background-color: #17222d; /* 호버 시 색상 */
}

.ql-active,
.ql-fill {
	color: #15f5ba !important;
}

/* ReactQuill의 기본 플레이스홀더 스타일 변경 */
.ql-editor.ql-blank::before {
	font-family: inherit; /* 기본 글꼴 설정 */
	font-style: normal; /* 이탤릭체 제거 */
	color: #688db2; /* 플레이스홀더 텍스트 색상 */
}

.ql-snow .ql-editor img {
	margin: 10px 0px;
}

.ql-editor ol,
.ql-editor ul {
	padding-left: 0;
}
